.horizontal {
    display: flex;
}

#event-select, #window-message-input {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

#event-button {
    text-wrap-mode: nowrap;
}

#window-message-textarea {
    resize: none;
    height: 100px;
}