#web_page {
    margin: 14px -2px inherit -2px;
}

.gwin_section {
    background-color: color-mix(in srgb, grey 10%, transparent) !important;
}

#livecoding_features > li {
    font-size: small;
    margin-left: 20px;
}
#preview_livecoding > video {
    margin: 2vh 0;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

#software_list {
    display: flex;
    flex-wrap: wrap;
}

.software_element {
    position: relative;
    width: calc(50% - 8px); /* half parent size - element total x margin */
    margin: 4px;
    overflow: hidden;
    .infos {
        position: absolute;
        left: 10px;
        bottom: 10px;

        color: var(--color-lighteralt);
    }
}

.preview_full {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.preview_img {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    border: 1px solid color-mix(in srgb, grey 20%, white);
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    -moz-box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
}