body {
    margin: 25px 14px 14px 14px;
    width: -moz-available !important;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available !important;  /* Mozilla-based browsers will ignore this. */
    width: -o-available !important;          /* Opera-based browsers will ignore this. */
    width: fill-available !important;
    overflow: auto !important;
}

li {
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 16px;
}
::-moz-scrollbar {
    width: 16px;
}