:root {
    --theme-color: rgb(122, 223, 97);
}
* {
    font-family: system-ui;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    color: rgb(205 199 195);
}
::-webkit-scrollbar {
    width: 0px;
    padding-bottom: 5px;
}
body {
    padding-bottom: 20px;
}
/* Track */
.ScrollIndicator {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 50%;
    width: 80px;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
}

.TopPanel {
    padding-top: 30px;
    width: auto;
    display: flex;
    justify-content: center;
}
.ProfilePictureParent {
    height: 20vw;
    width: 20vw;
    display: flex;
}
.ProfilePicture {
    border-radius: 50%;
    border: 4px solid rgb(205 199 195);;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
    width: 100%;
    height: 100%;
}
.MyDescription {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 6vw;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
}
h2 {
    font-size: 2.7vw;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
}
h3 {
    font-size: 2.1vw;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
}


.MAMInfos {
    padding-top: 50px;
    padding-left: 25px;
}
.MAMInfos_Content {
    padding-left: 15px;
}
.MAMInfosDetailsText {
    /* padding-left: 5px;*/
    padding-right: 5px; 
}


.InfoLanguages {
    padding-top: 50px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.InfoLanguages_Content {
    display: flex;
    padding-left: 25px;
    display: flex;
    align-items: center;
}
.InfoLanguages_Flag {
    width: 2vw;
    height: 2vw;
}

.LangDetailsText {
    padding-left: 5px;
    padding-right: 5px;
}

.TimeAliveDiv {
    display: flex;
}

.TechsLayer {
    display: flex;
    padding-top: 7px;
    padding-left: 10px;
    align-items: center
}

.TechsTitle {
    padding-top: 10px;
}

.TechItems {
    padding-right: 5px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
    height: 27px;
}

.TimeAliveElem {
    color: var(--theme-color);
}

.TechCateg {
    font-size: 1.8vw;
}
