@media (min-width: 500px) and (max-width: 900px) {

    /* Tablet */
    h1 {
        font-size: 7vw;
        text-align: center;
    }
    h2 {
        font-size: 4vw;
    }
    h3 {
        font-size: 3vw;
    }
    .TechCateg{
        font-size: 3vw;
    }
    .InfoLanguages_Content {
        flex-wrap: wrap;
        justify-content: flex-end
    }
    .InfoLanguages_Flag {
        width: 4vw;
        height: 4vw;
    }
    .TimeAliveDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .TechsLayer {
        flex-wrap: wrap;
        flex-direction: row;
    } 
    .ScrollIndicator {
        visibility: collapse;
    }
    .TopPanel {
        flex-direction: column;
        align-items: center;
    }
    .ProfilePictureParent {
        width: 30vw;
        height: 30vw;
    }
    .TechItems {
        height: 20px;
    }
}


@media screen and (max-width: 500px) {
    /* Phone */
    body {
        padding-bottom: 5px;
    }
    h1 {
        font-size: 9vw;
        text-align: center;
    }
    h2 {
        font-size: 5vw;
    }
    h3 {
        font-size: 4vw;
    }
    .TechCateg{
        font-size: 4vw;
    }
    .InfoLanguages_Content {
        flex-wrap: wrap;
        justify-content: flex-end
    }
    .InfoLanguages_Flag {
        width: 4vw;
        height: 4vw;
    }
    .TimeAliveDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .TechsLayer {
        flex-wrap: wrap;
        flex-direction: row;
    } 
    .ScrollIndicator {
        visibility: collapse;
    }
    .TopPanel {
        flex-direction: column;
        align-items: center;
    }
    .ProfilePictureParent {
        width: 50vw;
        height: 50vw;
    }
    .TechItems {
        height: 20px;
    }
}