.gwin_carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;

    z-index: 1;

    &:hover {
        .gwin_carousel_button {
            opacity: 1;
        }
    }
}
.gwin_carousel_slide::after {
    content: '';
    position: absolute;
    background-color: color-mix(in srgb, black, transparent);
    top: -1px;
    bottom: -1px;
    margin-left: -1px;
    width: 5%;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    -webkit-mask-image: linear-gradient(to right,black 10%,transparent 100%);
    mask-image: linear-gradient(to right,black 10%,transparent 100%);
}

.gwin_carousel_track_container {
    overflow: hidden;
    position: relative;
}

.gwin_carousel_track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gwin_carousel_slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    list-style-type: none;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        background-color: color-mix(in srgb, black, transparent);
        top: -1px;
        bottom: -1px;
        margin-left: -1px;
        width: 5%;
        transition: 0.5s ease-in-out;
        opacity: 0;
        -webkit-mask-image: linear-gradient(to right,black 10%,transparent 100%);
        -moz-mask-image: linear-gradient(to right,black 10%,transparent 100%);
        mask-image: linear-gradient(to right,black 10%,transparent 100%);
    }
    .gwin_carousel_slide_current {
        overflow: hidden;
    }
    &:is(.gwin_carousel_slide_current) {
        .gwin_carousel_slide_infos {
            transform: translateX(0);
            opacity: 1;
        }
        &::after {
            opacity: 1;
            
            width: 100%;
        
            z-index: 1;
        }
    }
    img {
        width: 100%;
        aspect-ratio: 16/9;
        display: block;
    }
    .gwin_carousel_slide_infos {
        position: absolute;
        top: 0;

        color: white;
        z-index: 10;

        margin: 40px;

        width: 50%;
        height: -webkit-fill-available;
        height: -moz-available;          /* WebKit-based browsers will ignore this. */
        height: fill-available; /* Mozilla-based browsers will ignore this. */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        transform: translateX(-25%);
        transition: transform 0.5s ease-in-out;

        opacity: 0;

        h3 {
            font-weight: 500;
        }
        *:not(:is(button)) {
            font-weight: normal;
            text-shadow: 0 0 5px black;
        }

        /* button {
            border-radius: 8px;
            background-color: #00000079;
            border: none;
            transition: 300ms ease-in-out;
            color: var(--color-lighteralt);
            -webkit-box-shadow: inset 0 -2px 0 var(--color-primary) !important;
        }
        button:hover {
            background-color: #00000079;
            backdrop-filter: blur(20px);
            -webkit-box-shadow: none !important;
        } */
    }
}

.gwin_carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    opacity: 0;

    transition: 200ms;

    height: 25px;
    width: 25px;

    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48"><path fill="white" d="M40.394,41H7.606c-1.303,0-2.469-0.674-3.12-1.802s-0.651-2.476,0-3.604L20.88,7.2l0,0c0.651-1.128,1.817-1.801,3.12-1.801s2.469,0.673,3.12,1.801l16.394,28.395c0.651,1.128,0.651,2.476,0,3.604S41.696,41,40.394,41z"></path></svg>');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;

    &:is(.left) {
        left: 5px;
        transform: rotate(-90deg) translateX(50%);
    }
    &:is(.right) {
        right: 5px;
        transform: rotate(90deg) translateX(-50%);
    }
}