nav-view {
    menu {
        background: linear-gradient(rgb(116, 138, 255) 0%, rgb(64, 87, 211) 100%);
        padding: 10px;
        gap: 0;
        width: 400px;
        .collapse-btn::before {
            content: 'Menu';
        }
        .collapse-btn {
            display: flex;
            justify-content: space-between;
            -webkit-box-align: center;
            -moz-box-align: center;
            align-items: center;
            height: 23px;
            padding-left: 11px;
            padding-right: 2px;
            cursor: pointer;
            width: -webkit-fill-available !important;
            width: -moz-available;          /* WebKit-based browsers will ignore this. */
            width: fill-available; /* Mozilla-based browsers will ignore this. */
            margin-bottom: 0 !important;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background: linear-gradient(to right, rgb(240, 240, 255) 0px, rgb(240, 240, 255) 30%, rgb(168, 188, 255) 100%);
        }
        .collapse-btn:hover {
            color: rgb(28, 104, 255);
        }
    }
    menu:is(.collapsed) {
        nav-view-button:not(:is(.current_page)):not(:is(.collapse-btn)):not(:is(.settings-btn)) {
            display: none;
        }
        nav-view-button {
            p {
                display: inherit;
            }
        }
        nav-view-button:is(.collapse-btn) {
            button-icon {
                transform: rotate(180deg);
            }
        }
    }
    nav-view-button {
        padding: 5px 10px;
        background: linear-gradient(to right, rgb(180, 200, 251) 0%, rgb(164, 185, 251) 50%, rgb(180, 200, 251) 100%) rgba(198, 211, 255, 0.87);

        &:not(:is(.collapse-btn)) {
            height: inherit !important;
        }
        button-icon {
            background-size: 18px !important;
        }
        p {
            font-family: "Pixelated MS Sans Serif", Arial;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: antialiased;
            font-size: 10px;
            line-height: 14px;
        }
    }
    nav-view-button:is(.current_page) {
        color: rgb(28, 104, 255);
        &::before {
            display: none;
        }
    }
    nav-view-button:hover {
        text-decoration: underline;
        color: rgb(12, 50, 125);
    }
    main {
        border-top: 28px solid var(--color-lighteralt);
    }
}


main {
    width: -webkit-fill-available;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: fill-available; /* Mozilla-based browsers will ignore this. */
    background-color: var(--color-lighteralt);
}

.gwin_hover_border {
    overflow: hidden;
}

.gwin_section {
    border: 1px solid #d0d0bf;
    border-radius: 4px;
    padding-top: 10px;
    padding: 10px;
    padding-block-start: 8px;
    margin: 0;
    box-shadow: none;
    background: #fff;
    background-color: #fff !important;
    padding-top: 10px;

    legend {
        color: red;
    }
}

toast-notification {
    position: absolute;
    right: -4px !important;
    border: 1px solid black;
    border-radius: 7px;
    padding: 6px 28px 10px 10px;
    background-color: rgb(255, 255, 225);
    font-size: 11px;
    white-space: nowrap;
    backdrop-filter: none;
    overflow: visible;
    left: inherit;
    z-index: 9999;
    align-items: flex-start;
    img {
        height: 14px;
        aspect-ratio: 1/1;
    }
    h5, h6 {
        font-size: 11px;
    }
    h5 {
        font-weight: bold;
    }
}
toast-notification::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -19px;
    right: 14px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 19px 19px 0px;
    border-color: transparent black transparent transparent;
}
toast-notification::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -17px;
    right: 15px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 18px 18px 0px;
    border-color: transparent rgb(255, 255, 225) transparent transparent;
}