#taskbar {
    height: var(--taskbar-height);
    background: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);

}

#super {
    filter: none !important;
    background-color: transparent;
    width: 94px;

    img {
        height: 100%;
    }
}
#super:hover {
    filter: brightness(1.2) !important;
}

#taskbar_applist {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-left: 6px;
    button {
        position: relative;

        display: flex;
        align-items: center;

        max-width: 150px;
        color: rgb(255, 255, 255);
        border-radius: 2px;
        margin-top: 2px;
        padding: 0px 8px;
        height: calc(var(--taskbar-height) - 4px);
        font-size: 11px;
        background-color: rgb(60, 129, 243);
        box-shadow: rgba(0, 0, 0, 0.3) -2px 0px inset, rgba(255, 255, 255, 0.2) 2px 2px 2px inset;

        img {
            height: calc(100% / 1.1);
            aspect-ratio: 1/1;
        }
        p {
            text-wrap-mode: nowrap;
        }
    }
    button:is(.focused) {
        background-color: rgb(30, 82, 183);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 2px inset, rgba(0, 0, 0, 0.4) 2px 0px 2px inset;
    }
}

#taskbar_actions {
    background: linear-gradient(rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%);
    border-left: 1px solid rgb(16, 66, 175);
    box-shadow: rgb(24, 187, 255) 1px 0px 1px inset;
    padding: 0px 10px;
}

#current_time_date {
    font-size: 11px !important;
    color: white;
}

#current_date {
    display: none;
}