#desktop_icons_grid {
    position: absolute;
    padding: 5px;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.desktop_icon_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 110px;
    border: var(--border-width) solid rgba(255, 255, 255, 0);
    transition-duration: 200ms;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0);
    z-index: 4;
    padding-top: 5px;
    margin-top: 5px;
    /* We set our opacity to zero at the beginning because we change this value inside our "Desktop_FadeIn" animation */
    opacity: 0;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

.infoBadge {
    border: var(--border-width) solid var(--main-color-transparant);
    background-color: var(--main-color);
    backdrop-filter: blur(var(--blur-level));
    border-radius: calc(var(--border-radius) * 2);
    -webkit-backdrop-filter: blur(var(--blur-level));
    -moz-backdrop-filter: blur(var(--blur-level));
    -o-backdrop-filter: blur(var(--blur-level));

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    z-index: 5;

    position: absolute;
    padding: 2px 4px 2px 4px;

    transition: 200ms;

    pointer-events: none;
    margin-left: 40px;
    margin-top: 0px;

    font-size: 0.8em;
    font-weight: 700;
    text-align: end;
    p {
        /* mix-blend-mode:difference; */
        color: var(--main-color);
        filter: invert(1) contrast(100) saturate(100) grayscale(1);
    }
}

.desktop_icon_layout:hover {
    cursor: pointer;
    border: var(--border-width) solid var(--glass-color-hover);
    background-color: var(--main-color-transparant);
    
    backdrop-filter: blur(var(--blur-level));
    -webkit-backdrop-filter: blur(var(--blur-level));
    -moz-backdrop-filter: blur(var(--blur-level));
    -o-backdrop-filter: blur(var(--blur-level));

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    .infoBadge {
        margin-left: 70px;
        margin-top: -10px;
    }
}

.desktop_icon {
    padding: 5px;
    width: 60px;
    height: 60px;
    border-radius: var(--border-radius);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.35));
}

.desktop_icon_title {
    text-align: center;
    overflow: auto;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
}

.desktop_icon_bringin {
    animation: Desktop_FadeIn cubic-bezier(.38, 1.89, .24, 1) 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

