start-menu {
    position: absolute;
    bottom: var(--taskbar-height);
    left: 0;

    height: 60%;
    width: auto;

    background-color: color-mix(in srgb, var(--color-lighteralt) 50%, transparent);

    display: flex;

    menu:first-of-type {
        width: 50px;
        height: 100%;

        display: flex;
        flex-direction: column;

        button {
            width: 100%;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        button:first-child {
            margin-bottom: auto;
        }
    }
    menu:last-of-type {
        height: 100%;
        width: auto;

        margin-left: 12px;
        margin-top: 12px;

        .startmenu_section_title {
            padding: 4px;

            display: flex;
            align-items: center;
        }

        .startmenu_application {
            display: flex;
            align-items: center;

            margin: 4px;

            position: relative;

            width: 300px;
            height: 40px;

            background-color: transparent;

            img {
                width: 35px;
                height: 35px;
                padding: 4px;
            }
            p {
                pointer-events: none;
            }
        }

        .startmenu_application:hover {
            background-color: color-mix(in srgb, var(--color-lighter) 50%, transparent);
        }
    }
}