nav-view {
    main {
        margin-top: 40px;
        border-radius: 10px 0 0 0;
    }
    menu {
        transition: 200ms ease-in-out;
    }
    menu:is(.collapsed) {
        --menu-width: 46px;
        & nav-view-button {
            p {
                opacity: 0;
                display: inherit;
            }
        }
    }
    nav-view-button {
        background-color: transparent;
        padding-left: 7px !important;

        display: flex;
        align-items: center;
        /* height: 50px !important; */

        margin: 4px;
        border-radius: 8px;

        transition: 200ms ease-in-out;

        position: relative;
        button-icon {
            background-size: 20px !important;
        }
        p {
            font-weight: 400;
            font-size: initial;
            padding-left: 8px;
            position: absolute;
            left: 28px;
            opacity: 1;

            transition: 200ms ease-in-out opacity;
        }
    }
    nav-view-button:not(:is(.collapse-btn)) {
        margin: 2px 4px 2px 4px;
        width: -webkit-fill-available !important;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: fill-available; /* Mozilla-based browsers will ignore this. */
    }
    nav-view-button::before {
        content: "";
        height: 0 !important;
        width: 0px;
        border-radius: 10px;
        transition: 200ms ease-in-out height;
    }
    nav-view-button:is(.current_page)::before {
        height: calc(100% / 1.8) !important;
    }
    nav-view-button:hover {
        background-color: color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        -webkit-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        -moz-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
    }
}

main {
    width: -webkit-fill-available;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: fill-available; /* Mozilla-based browsers will ignore this. */
    background-color: var(--color-lighteralt);
}

toast-notification {
    background-color: color-mix(in srgb, var(--color-lighteralt) 50%, transparent);
    backdrop-filter: var(--background-blur);
    min-width: 200px;

    padding: 4px;

    overflow: hidden;

    /* Icon */
    img {
        height: 100%;
        aspect-ratio: 1/1;
    }

    /* Title */
    h5 {
        font-weight: normal;
    }

    /* Description */
    h6 {
        font-weight: normal;
    }
}

.gwin_hover_border {
    overflow: hidden;
}

.gwin_hover_border:hover:before {
    content: ' ';

    position: absolute;
    left: var(--gwin-hover-border-x);
    top: var(--gwin-hover-border-y);

    height: 200px;
    width: 200px;

    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side, #FFFFFF, transparent);

    /* clip-path: inset-rectangle(from top, from right, from bottom, from left, rounded-x, rounded-y) */

    pointer-events: none;
}

.gwin_section {
    padding: 10px 20px;

    border-inline: 1px solid color-mix(in srgb, grey 20%, white);
    background-color: var(--color-lighteralt);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    -moz-box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    legend {
        display: none;
    }
}

.gwin_imgtag {
    border-inline: 1px solid color-mix(in srgb, grey 20%, white);
    background-color: var(--color-lighteralt);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    -moz-box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
}

video {
    border: 1px solid color-mix(in srgb, grey 20%, white);
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    -moz-box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
    box-shadow: inset 0 -1px 0 color-mix(in srgb, grey 50%, white);
}

