:root {
    --border-radius: 8px;
}
* {
    font-family: system-ui;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    color: rgb(205 199 195);
}
::-webkit-scrollbar {
    width: 0px;
    padding-bottom: 5px;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}

h2 {
    font-size: 1.3em;
    font-weight: 400;
    padding-left: 150px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}
h3 {
    font-size: 1em;
    font-weight: 400;
    padding: 5px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}
h4 {
    font-size: 1.5em;
    font-weight: 400;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    color: #fff;
}

body {
    padding-bottom: 20px;
    display: flex;
    width: 60vw;
    height: 100vh;
}

div {
    width: 100%;
    margin-top: 20px;
    /* display: flex;
    left: 40px;
    height: 75vh;
    top: 10vh; */
}

section {
    padding-left: 100px;
    padding-top: 50px;
    
    width: 100%;
}

ol {
    padding: 5px;
    display: flex;
    align-items: center;
}

img {
    height: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
}

iframe {
    position: absolute;
    right: 40px;
    height: 75vh;
    top: 10vh;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    border-radius: var(--border-radius);
}
button {
    margin-top: 25px;
    padding: 15px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    border-radius: var(--border-radius);
    background-color: #5865f2 ;
    animation: borderPulse 4000ms infinite ease-out;
    cursor: pointer;
}
button:hover,
button:focus {
	animation: borderPulse 4000ms infinite ease-out, hoverShine 200ms;
}

@keyframes borderPulse {
    69% {
        box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,0), 0px 0px 0px 0px rgba(255,255,255,1);
      }
    70% {
      box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgba(255,255,255,1);
    }
    100% {
      box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255,.2), 0px 0px 0px 10px rgba(255,255,255,0);
    }
}
@keyframes hoverShine {
	0%{
		background-image: linear-gradient(135deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	}
	50%{
		background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%);
	}
	100%{
		background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4) 100%);
	}
}