@media screen and (min-width: 500px) and (max-width: 900px) {
    /* Tablet */
    .window_container {
        width: calc(100vw - 10px);
        height: calc(100vh - 55px);
        top: 10vh;
    }
    .window_body {
        height: calc(100% - 35px);
        width: 100%;
    }
}


@media screen and (max-width: 500px) {
    /* Phone */
    .window_container {
        width: calc(100vw - 10px);
        height: calc(100vh - 10px);
        top: 10vh;
    }
    .window_body {
        height: 100%;
        width: 100%;
    }
}