:root {
    --main-color-transparant: rgba(0, 165, 167, 0.15);
    --main-color-invisible: rgba(0, 165, 167, 0);
    --glass-color-hover: rgba(0, 165, 167, 0.3);

    /* Style */
    --blur-level: 2em;
    --border-radius: 8px;
    --inner-radius: 4px;
    --border-width: 1px;
}

* {
    font-family: "Rubik", sans-serif;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    color: rgb(205 199 195);
}

::-webkit-scrollbar {
    width: 0px;
    padding-bottom: 5px;
}

#folder_icons_grid {
    left: 0px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}

.folder_icon_layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    min-height: 100px;
    border: var(--border-width) solid rgba(255, 255, 255, 0);
    transition-duration: 200ms;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-color: var(--main-color-invisible);
    z-index: 4;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

.folder_icon_layout:hover {
    cursor: pointer;
    border: var(--border-width) solid var(--glass-color-hover);
    background-color: var(--main-color-transparant);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

}

.folder_leftdiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.folder_icon {
    padding: 5px;
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.35));
}

.folder_icon_text {
    overflow: auto;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.55));
    margin: 0px;
    text-align: left;
}

.folder_container {
    display: flex;
}

.imgContainer {
    height: 100%;
    display: flex;
    align-items: center
}

.gitButton {
    border: var(--border-width) solid rgba(255, 255, 255, 0);
    transition-duration: 200ms;
    background-color: var(--main-color-invisible);
    z-index: 4;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
}
.gitButton:first-child {
    border-radius: 0 var(--border-radius) 0 0;
}
.gitButton:last-child {
    border-radius: 0 0 var(--border-radius) 0;
}

.gitButton:hover {
    cursor: pointer;
    border: var(--border-width) solid var(--glass-color-hover);
    background-color: var(--main-color-transparant);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.git_icon {
    width: 40px;
    height: 40px;
}

.item {
    border-radius: var(--border-radius);
    margin-top: 5px;
    display: flex;
    background-color: rgba(255,255,255,0.05);
    border: var(--border-width) solid rgba(255, 255, 255, 0.1);
}

.items {
    display: flex;
    flex-direction: column;
}