.highlight_borders {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 10px;

    border: 1px solid transparent;
    background: var(--color-highlight-gradient-outlines);
    background-size: calc(100% + 2px) calc(100% + 2px);
    background-position: -1px -1px;

    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -moz-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    -moz-mask-composite: exclude;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0.8;
}

.highlight_fx {
    transition: 1000ms !important;
}

@keyframes highlight_animation {
    0% {
        box-shadow:
            0px -8px 12px #00a4a733,
            8px 0px 12px #ffbb0033,
            0px 8px 12px rgba(207, 38, 185, 0.3),
            inset 0px -8px 8px #00a4a733,
            inset 8px 0px 8px #ffbb0033,
            inset 0px 8px 8px rgba(207, 38, 185, 0.3);
    }
    25% {
        box-shadow:
            8px 0px 12px #00a4a733,
            0px 8px 12px #ffbb0033,
            -8px 0px 12px rgba(207, 38, 185, 0.3),
            inset 8px 0px 8px #00a4a733,
            inset 0px 8px 8px #ffbb0033,
            inset -8px 0px 8px rgba(207, 38, 185, 0.3);
    }
    50% {
        box-shadow:
            0px 8px 12px #00a4a733,
            -8px 0px 12px #ffbb0033,
            0px -8px 12px rgba(207, 38, 185, 0.3),
            inset 0px 8px 8px #00a4a733,
            inset -8px 0px 8px #ffbb0033,
            inset 0px -8px 8px rgba(207, 38, 185, 0.3);
    }
    75% {
        box-shadow:
            -8px 0px 12px #00a4a733,
            0px -8px 12px #ffbb0033,
            8px 0px 12px rgba(207, 38, 185, 0.3),
            inset -8px 0px 8px #00a4a733,
            inset 0px -8px 8px #ffbb0033,
            inset 8px 0px 8px rgba(207, 38, 185, 0.3);
    }
    100% {
        box-shadow:
            0px -8px 12px #00a4a733,
            8px 0px 12px #ffbb0033,
            0px 8px 12px rgba(207, 38, 185, 0.3),
            inset 0px -8px 8px #00a4a733,
            inset 8px 0px 8px #ffbb0033,
            inset 0px 8px 8px rgba(207, 38, 185, 0.3);
    }
}

@keyframes highlight_animation_fadeout {
    to {
      box-shadow:
        0px 0px 0px transparent,
        0px 0px 0px transparent,
        0px 0px 0px transparent,
        inset 0px 0px 0px transparent,
        inset 0px 0px 0px transparent,
        inset 0px 0px 0px transparent;
    }
}