toast-notification {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
    -moz-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
    box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.5));
    backdrop-filter: var(--filter-distortion);
    -webkit-backdrop-filter: var(--filter-distortion);
    -moz-backdrop-filter: var(--filter-distortion);

    &:is(.open) {
        animation: toast ease-out;
    }
    &:is(.close) {
        animation: toast ease-out reverse;
    }
}

@keyframes toast {
    0% {
        transform: translate(-50%, 200%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0) scale(1);
        opacity: 1;
    }
}