start-menu {
    background: linear-gradient(to bottom, color-mix(in srgb, var(--color-lighteralt) 40%, transparent), color-mix(in srgb, var(--color-lighteralt) 50%, transparent) 10%);
    backdrop-filter: var(--filter-distortion);
    -webkit-backdrop-filter: var(--filter-distortion);
    -moz-backdrop-filter: var(--filter-distortion);

    margin-bottom: 12px;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.5));

    flex-direction: column;

    left: 50vw !important;
    transform: translateX(-50%);

    animation: start-menu cubic-bezier(0.18, 0.89, 0.32, 1.28) 300ms forwards;

    width: 30vw !important;

    box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent);

    menu:first-of-type {
        flex-direction: row;
        justify-content: flex-end;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
        height: fit-content;

        button {
            width: 40px;
            margin: 4px;
            background-color: transparent;
        }
        button:first-child {
            display: none;
        }

        button:hover {
            background-color: color-mix(in srgb, var(--color-lighter) 25%, transparent) !important;
            -webkit-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
            -moz-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
            border-radius: 6px;
        }
    }
    menu:last-of-type {
        height: 100%;
        /* width: 300px; */
        overflow-y: auto;
        margin-top: 0 !important;
        margin-right: 12px;
        &::-webkit-scrollbar {
            width: 0px;
        }
        &::-moz-scrollbar {
            width: 0px;
        }
    }
}

.startmenu_application {
    width: -webkit-fill-available !important;
    transition: 200ms ease-out;
    &:hover {
        /* outline: 1px solid var(--color-light); */
        border-radius: 6px;
        background-color: color-mix(in srgb, var(--color-lighter) 25%, transparent) !important;
        -webkit-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        -moz-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
    }
}

.startmenu_section_title {
    display: none !important;
}

@keyframes start-menu {
    0% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}