#taskbar {
    height: var(--taskbar-height);
    background: linear-gradient(to bottom, color-mix(in srgb, var(--color-lighteralt) 10%, transparent), color-mix(in srgb, var(--color-lighteralt) 35%, transparent) 60%);
    backdrop-filter: var(--filter-distortion);
    -webkit-backdrop-filter: var(--filter-distortion);
    -moz-backdrop-filter: var(--filter-distortion);
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

    margin: 8px;
    padding-left: 105.45px;

    border-radius: 10px;

    -webkit-box-shadow: inset 0 0 2px white, 0 8px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px white, 0 8px 10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 2px white, 0 8px 10px rgba(0, 0, 0, 0.3);

    button {
        margin: 4px;
        border-radius: 6px;
    }
    button:hover {
        background-color: color-mix(in srgb, var(--color-lighter) 15%, transparent) !important;
        -webkit-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        -moz-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
    }
}

#super {
    background-color: transparent;

    aspect-ratio: 1/1;

    margin: 4px 4px 4px auto !important;
    
    &:not(:hover) {
        img {
            /* Reset filter on not hovered */
            filter: invert() !important;    
        }
        
    }

    img {
        height: calc(100% / 1.4);
        aspect-ratio: 1/1;

        transition: 200ms var(--cubic-bezier) transform;
    }
    &:is(.opened) {
        img {
            transform: scale(0.8) rotate(-180deg);
        }
    }
}
#super:hover {
    img {
        filter: brightness(0) saturate(100%) var(--var-taskbar-icon-hover-color);
    }
    
    /* background-color: color-mix(in srgb, var(--color-lighter) 15%, transparent); */
}

#taskbar_applist {
    display: flex;
    button {
        position: relative;
        aspect-ratio: 1/1;

        margin: 4px 2px 4px 2px;
        img {
            height: calc(100% / 1.1);
            aspect-ratio: 1/1;
        }
    }
    button::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 42%;
        right: 42%;
        border-radius: 10px;
        height: 3px;
        background-color: var(--color-secondary);
    }
    button:is(.focused)::after {
        left: 25%;
        right: 25%;
    }
}

#current_time_date {
    margin-right: 8px !important;
}

#taskbar_actions {
  display: flex;
  margin-left: auto;
  min-width: fit-content;
  width: fit-content;
  align-content: revert;
  max-width: fit-content;
  justify-content: flex-end;
}