:root {
    --default-font: "Segoe UI", Arial, sans-serif;

    --color-darker: #004578;
    --color-dark: #005a9e;
    --color-darkalt: #106ebe;
    --color-primary: #0078da;
    --color-secondary: #2b88d8;
    --color-tertiary: #71afe5;
    --color-light: #c7e0f4;
    --color-lighter: #deecf9;
    --color-lighteralt: #eff6fc;

    --taskbar-height: 46px;

    --color-highlight-gradient: linear-gradient(to right, #00A5A7, #AD00FF, #FF8A00);
    --color-highlight-gradient-outlines: linear-gradient(7deg,rgba(0, 165, 167, 1) 0%, rgba(173, 0, 255, 1) 50%, rgba(255, 138, 0, 1) 100%);

    --cubic-bezier: cubic-bezier(.62,0,.76,1.55);

    --radius-big: 12px;
    --radius-medium: 8px;
    --radius-small: 4px;
    --radius-tiny: 2px;

    --background-blur-level: 6px;
    --background-blur: blur(var(--background-blur-level));


    --filter-distortion: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="waves" x="-20%" y="-20%" width="120%" height="120%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB">\
            <feTurbulence type="turbulence" baseFrequency="0.0005 0.0005" numOctaves="1" seed="1" stitchTiles="noStitch" result="turbulence" />\
            <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="20" xChannelSelector="G" yChannelSelector="A" result="displacementMap" />\
        </filter>\
    </svg>#waves') blur(var(--background-blur-level)) saturate(140%);
}



/* 
<feOffset dx="-20" dy="-20" x="20%" y="20%" width="80%" height="80%" in="SourceGraphic" result="offset"/>\
        <feMerge x="0%" y="0%" width="100%" height="100%" result="merge">\
            <feMergeNode in="displacementMap"/>\
            <feMergeNode in="offset"/>\
        </feMerge>\
      
*/

