#taskbar {
    height: var(--taskbar-height);
    background-color: color-mix(in srgb, var(--color-lighteralt) 50%, transparent);
    backdrop-filter: blur(15px);
    width: calc(100% + 105.45px);
    button {
        margin: 4px;
        border-radius: 4px;
    }
    button:hover {
        background-color: color-mix(in srgb, var(--color-lighter) 15%, transparent) !important;
        -webkit-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        -moz-box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
        box-shadow: inset 0 1px 0 color-mix(in srgb, var(--color-lighter) 35%, transparent) !important;
    }
}

#super {
    background-color: transparent;

    aspect-ratio: 1/1;

    margin: 4px 4px 4px auto !important;
    
    &:not(:hover) {
        /* Reset filter on not hovered */
        filter: invert() !important;
    }

    img {
        height: calc(100% / 1.4);
        aspect-ratio: 1/1;
    }
}
#super:hover {
    filter: brightness(0) saturate(100%) var(--var-taskbar-icon-hover-color);
}

#taskbar_applist {
    display: flex;
    button {
        position: relative;
        aspect-ratio: 1/1;

        margin: 4px 2px 4px 2px;

        img {
            height: calc(100% / 1.1);
            aspect-ratio: 1/1;
        }
    }
    button::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 42%;
        right: 42%;
        border-radius: 10px;
        height: 3px;
        background-color: var(--color-secondary);
    }
    button:is(.focused)::after {
        left: 25%;
        right: 25%;
        transition: 200ms;
    }
}

#taskbar_actions {
    /* margin-left: calc(auto (26.25px + 63.2px)); */
    transform: translateX(-105.45px);
    #volume_btn {
        margin: 4px;
        aspect-ratio: 1 / 1.6;
        padding: 0 4px 0 4px;
    }
}