.software_element {
    .infos {
        z-index: 1;
    }
    button {
        position: absolute;
        opacity: 0;
    }
    button:hover {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    &:hover {
        button {
            position: relative;
            opacity: 1;
        }
    }
}