@media screen and (min-width: 500px) and (max-width: 900px) {
    /* Tablet */
    
}


@media screen and (max-width: 500px) {
    /* Phone */
    h1 {
        font-size: 1em;
    }
    #taskAmount {
        visibility: collapse;
        width: 0px;
    }
    main {
        width: 95%;
        padding-top: 0px;
    }
}