.color_default {
    background-color: rgb(0, 165, 167);
}
.color_orange {
    background-color: rgb(244, 139, 54);
}
.color_red {
    background-color: rgb(233, 15, 40);
}
.color_pink {
    background-color: rgb(238, 70, 126);
}
.color_purple {
    background-color: rgb(103, 58, 183);
}
.color_blue {
    background-color: rgb(33, 150, 243);
}
.color_cyan {
    background-color: rgb(0, 188, 212);
}
.color_lime {
    background-color: rgb(139, 195, 74);
}
.color_green {
    background-color: rgb(76, 175, 80);
}
.color_yellow {
    background-color: rgb(255, 193, 7);
}