:root {
    --main-color-transparant: rgba(0, 165, 167, 0.15);
    --glass-color-hover: rgba(0, 165, 167, 0.3);
    --main-color: rgb(255,0,0);

    /* Style */
    --blur-level: 2em;
    --border-radius: 8px;
    --inner-radius: 4px;
    --border-width: 1px;
}

* {
    font-family: "Rubik", sans-serif;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    color: rgb(205, 199, 195);
}

::-webkit-scrollbar {
    width: 0px;
    padding-bottom: 5px;
}

section {
    border-radius: var(--border-radius);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.05);
    border: var(--border-width) solid rgba(255, 255, 255, 0.1);
    padding: 5px;
}

.bar {
    border-radius: var(--border-radius);
    margin-top: 5px;
    background-color: rgba(20,20,20,0.2);
    border: var(--border-width) solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    
    h5 {
        width: 75%;
        font-weight: 400;
    }
}

.bar_title {
    display: flex;
    align-items: center;
    img {
        width: 25px;
        height: 25px;
        padding-right: 2px;
    }
}

.bar_textInfos {
    margin: 0px;
}

.bar_center {
    align-items: center;
}

.bar_credits {
    width: 100%;
    h5 {
        width: 100%;
        font-weight: 400;
        margin: 0px;
        padding-right: 2px;
    }
}

#ColorsList {
    width: 70%;
    border-radius: var(--border-radius);
    display: flex;
}
#WallpaperList {
    width: 100%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: flex-start;
}

.colorButton {
    transition: 150ms;
    margin: 2px;
    cursor: pointer;
    aspect-ratio : 1 / 1;
    width: calc((10% - 1px) - ((5px * 2) / 10));
    border: var(--border-width) solid rgba(255, 255, 255, 0.4);
    border-radius: var(--border-radius);
    opacity: 0.7;
}
.colorButton:hover {
    transform: scale(0.95);
}
.wallpaperButton {
    transition: 150ms;
    margin: 2px;
    padding: 1px;
    cursor: pointer;
    width: calc((30% - 1px) - ((5px * 2) / 10));
    aspect-ratio : 16 / 9;
    border: var(--border-width) solid rgba(255, 255, 255, 0.4);
    border-radius: var(--border-radius);
    opacity: 0.7;
    display: flex;
    flex-direction: column;     
    img {
        width: 100%;
        border-radius: calc(var(--border-radius) - 2px); /*(2 * max(2, (var(--border-radius) + 1)))*/
    }

    .image_mask {
        
        transition: 150ms;
        position: absolute;
        width: calc(100% - 2px);
        aspect-ratio : 16 / 9;
        margin-right: 2px;
        border-radius: calc(var(--border-radius) - (var(--border-width) + 2px));
        opacity: 0;
        backdrop-filter: blur(3px);
        filter: brightness(65%);
        pointer-events: none;
    }

    h4 {
        color: black;
        margin: 0px 0px 0px 5px;
    }
    .tags {
        overflow: hidden;
        position: absolute;
        height: fit-content;
        width: fit-content;
        transition: 150ms;
        opacity: 0;
        h5 {
            transition: 150ms;
            width: fit-content;
            font-weight: 400;
            margin: 0px;
            padding: 2px;
            transform: translateX(-50px);
            text-align: left;
        }
        .tag {
            transition: 150ms;
            margin: 5px;
            border-style: solid;
            border-width: 2px;
            border-radius: var(--border-radius);
            transform: translateX(-50px);
        }
    }
}
.wallpaperButton:hover {

    transform: scale(0.95);
    .image_mask {
        opacity: 1;
    }
    .tags {
        h5 {
            transform: translateX(0px);
        }
        .tags {
            transform: translateX(0px);
        }
        
        opacity: 1;
    }
}
.dynamic {
    color: rgb(255, 0, 170);
    border-color: rgb(255, 0, 170);
    background-color: rgba(255, 0, 170, 0.15);
}
.animated {
    color: rgb(51, 179, 0);
    border-color: rgb(51, 179, 0);
    background-color: rgba(51, 179, 0, 0.15);
}
.themesync {
    color: rgb(0, 140, 255);
    border-color: rgb(0, 140, 255);
    background-color: rgba(0, 140, 255, 0.15);
}
.static {
    color: orange;
    border-color: orange;
    background-color: rgba(255, 166, 0, 0.15);
}

.currentColor {
    border: calc(var(--border-width) * 2) solid rgba(255, 255, 255, 1);
    display: flex;
    justify-content: flex-end;
    div{
        padding: 0px;
        width: 40%;
        height: 40%;
        border-radius: 0 calc(var(--border-radius) /2) 0 var(--border-radius);
        background-color: rgba(255, 255, 255, 1);
        img {
            width: 80%;
            height: 80%;
        }
    }
}

/* Credits: Marcus Burnette
 */

input[type=checkbox]{
	height: 0;
	width: 0;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
    min-width: 40px;
	height: 20px;
	background: rgb(54, 54, 54);
	display: block;
	border-radius: 100px;
	position: relative;
    border: var(--border-width) solid;
}

label:after {
	content: '';
	position: absolute;
	top: calc(4px - var(--border-width));
	left: 5px;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 30px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--main-color);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}

br {
    height: 10px;
}

a {
    text-wrap: nowrap;
    width: auto;
    padding-right: 2px;
}

.bar_inline {
    display: flex;
    align-items: center;
    width: fit-content;
}

.credits_secondText {
    text-wrap: nowrap;
}

.actionButton {
    background-color: transparent;
    border: var(--border-width) solid rgba(255, 255, 255, 0.2);
    transition-duration: 200ms;
    display: flex;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: var(--border-radius);
    margin: 10px;
    padding: 2px;
    img {
        width: 20px;
        height: 20px;
    }
    p {
        margin: 0px 2px 0px 2px;
    }
}

.actionButton:hover {
    background-color: var(--glass-color-hover);
    cursor: pointer;
}