:root {
    --main-color-transparant: rgba(0, 165, 167, 0.15);
    --glass-color-hover: rgba(0, 165, 167, 0.3);
    --main-color: rgb(255,0,0);

    /* Style */
    --blur-level: 2em;
    --border-radius: 8px;
    --inner-radius: 4px;
    --border-width: 1px;
}

* {
    font-family: system-ui;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    color: rgb(205, 199, 195);
}

::-webkit-scrollbar {
    width: 0px;
    padding-bottom: 5px;
}

section {
    border-radius: var(--border-radius);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.05);
    border: var(--border-width) solid rgba(255, 255, 255, 0.1);
    padding: 5px;
}

.bar {
    border-radius: var(--border-radius);
    margin-top: 5px;
    background-color: rgba(20,20,20,0.2);
    border: var(--border-width) solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    
    h5 {
        width: 75%;
        font-weight: 400;
    }
}

.bar_title {
    display: flex;
    align-items: center;
    img {
        width: 25px;
        aspect-ratio : 1 / 1;
        padding-right: 2px;
    }
}

.bar_textInfos {
    margin: 0px;
}

.bar_center {
    align-items: center;
}

.bar_credits {
    width: 100%;
    h5 {
        width: 100%;
        font-weight: 400;
        margin: 0px;
        padding-right: 2px;
    }
}

#ColorsList {
    width: 70%;
    border-radius: var(--border-radius);
    display: flex;
}

.colorButton {
    margin: 2px;
    cursor: pointer;
    aspect-ratio : 1 / 1;
    width: calc((10% - 1px) - ((5px * 2) / 10));
    border: var(--border-width) solid rgba(255, 255, 255, 0.4);
    border-radius: var(--border-radius);
    opacity: 0.7;
}

.currentColor {
    border: calc(var(--border-width) * 2) solid rgba(255, 255, 255, 1);
    display: flex;
    justify-content: flex-end;
    div{
        padding: 0px;
        width: 40%;
        height: 40%;
        border-radius: 0 0 0 var(--border-radius);
        background-color: rgba(255, 255, 255, 1);
        img {
            width: 80%;
            height: 80%;
        }
    }
}

/* Credits: Marcus Burnette
 */

input[type=checkbox]{
	height: 0;
	width: 0;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: rgb(54, 54, 54);
	display: block;
	border-radius: 100px;
	position: relative;
    border: var(--border-width) solid;
}

label:after {
	content: '';
	position: absolute;
	top: calc(4px - var(--border-width));
	left: 5px;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 30px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--main-color);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 30px;
}

br {
    height: 10px;
}

a {
    text-wrap: nowrap;
    width: auto;
    padding-right: 2px;
}

.bar_inline {
    display: flex;
    align-items: center;
    width: fit-content;
}

.credits_secondText {
    text-wrap: nowrap;
}