@media screen and (min-width: 500px) and (max-width: 900px) {
    /* Tablet */
    
}


@media screen and (max-width: 500px) {
    /* Phone */
    .bar:first-of-type:not(.bar_center) {
        display: flex;
        flex-direction: column;
        
    }
    #ColorsList {
        width: 100%;
    }
    .currentColor {
        div {
            img {
                visibility: collapse;
            }
        }
    }
    .bar_inline {
        display: flex;
        align-items: flex-end;
        width: fit-content;
        flex-wrap: wrap;
    }
    .wallpaperButton {
        width: calc((50% - 1px) - ((5px * 2) / 10));
        aspect-ratio : 16 / 9;

    }
    .wallpaperButton:hover {
        .image_mask {
            opacity: 0;
        }
        .tags {
            opacity: 0;
        }
    }
}