.window_container {
    position: absolute;

    width: auto;
    height: auto;

    border-width: var(--border-width);
    border-style: solid;
    border-radius: var(--border-radius);
    border-color: var(--glass-color);

    

    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    box-shadow: rgba(199, 199, 199, 0.15) 0px 20px 100px -20px inset, rgba(187, 187, 187, 0.3) 0px 30px 60px -30px, rgba(221, 221, 221, 0.35) 0px -2px 6px 0px inset, 0px 5px 15px rgba(11, 12, 12, 0.8);

    color: rgb(205 199 195);
}


.window_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5px;
    overflow: hidden;
}

.window_head_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    overflow: hidden;
}

.window_head_buttons_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.window_icon {
    width: 25px;
    height: 25px;
}
.window_title {
    padding-left: 5px;
    font-weight: 400;
}

.window_btn {
    background-color: var(--main-color-transparant);
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #fff;
    margin: 5px 5px 0px 0px;
    border-radius: calc(var(--border-radius) - var(--border-width));
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--glass-color);
    transition: 200ms;
}
.window_min_btn:hover {
    background-color: green;
}
.window_max_btn:hover {
    background-color: orange;
}
.window_close_btn:hover {
    background-color: red;
}

.window_maximized {
    left: 0px;
    width: calc(100vw - 10px);
    height: calc(100vh - 55px);
    top: 10vh;
    .window_body {
        height: calc(100% - 35px);
        width: 100%;
    }
}
.window_minimized {
    visibility: collapse;
    .window_btn {
        transition: 0ms;
    }
}

.window_body {
    width: 960px;
    height: 540px;
    /* min-width: 640px;
    min-height: 360px;
    max-width: 1280px;
    max-height: 1080px; */
    overflow: hidden;
}
.window_content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0px 0px calc(var(--border-radius) - var(--border-width)) calc(var(--border-radius) - var(--border-width));
}


.window_not_infront {
    border-width: var(--border-width);
    border-style: solid;
    backdrop-filter: none;
    background-color:rgb(46, 53, 56);
}

.window_infront {
    background-color: rgba(0, 0, 0, 0.2);
}
.window_focusBorders {
    top: calc( 0px - var(--border-width));
    left: calc( 0px - var(--border-width));
    position: absolute;
    width: calc(100% + (var(--border-width) * 2));
    height: calc(100% + (var(--border-width) * 2));

    border: var(--border-width) solid transparent;
    background: linear-gradient(351deg, color-mix(in srgb, var(--main-color), white 50%) 2%, color-mix(in srgb, var(--main-color), black 50%) 30%, color-mix(in srgb, var(--main-color), black 30%) 70%, color-mix(in srgb, var(--main-color), rgb(255, 255, 255) 70%) 98%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; 
            mask-composite: exclude;
    pointer-events: none;
    
    border-radius: var(--border-radius);
}


.window_focused {
    box-shadow: rgba(199, 199, 199, 0.15) 0px 20px 100px -20px inset, rgba(187, 187, 187, 0.3) 0px 30px 60px -30px, rgba(221, 221, 221, 0.35) 0px -2px 6px 0px inset, 0px 5px 15px rgba(11, 12, 12, 0.8), 0px 3px 10px var(--main-color-shadow);
}

.window_open {
    animation: Anim_WindowIn cubic-bezier(.38, 1.89, .24, 1) 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.window_close {
    pointer-events: none;
    animation: Anim_WindowOut cubic-bezier(.38, 1.89, .24, 1) 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}