.window_container {
    position: absolute;

    width: auto;
    height: auto;

    border: var(--border-width) solid var(--main-color);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    overflow: hidden;

    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));

    color: rgb(205 199 195);
}

.window_head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 5px;
}

.window_head_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
}

.window_icon {
    width: 25px;
    height: 25px;
}
.window_title {
    padding-left: 5px;
    font-weight: 400;
}

.window_close_btn {
    background-color: red;
    width: 40px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.window_body {
    width: 960px;
    height: 540px;
    /* min-width: 640px;
    min-height: 360px;
    max-width: 1280px;
    max-height: 1080px; */
    overflow: hidden;
}
.window_content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.window_not_infront {
    border: var(--border-width) solid var(--glass-color);
    backdrop-filter: none;
    background-color:rgb(46, 53, 56);
}

.window_infront {
    
    /* backdrop-filter: blur(var(--blur-level)); */
    background-color: rgba(0, 0, 0, 0.2);
}

.window_focused {
    border: var(--border-width) solid var(--main-color);
}

.window_open {
    animation: Anim_WindowIn cubic-bezier(.38, 1.89, .24, 1) 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.window_close {
    pointer-events: none;
    animation: Anim_WindowOut cubic-bezier(.38, 1.89, .24, 1) 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}