:root {
    /* Colors */
    --background-dark: rgba(0, 83.5, 83.5, 1);
    --main-color: rgba(0, 165, 167, 1);
    --main-color-transparant: rgba(0, 165, 167, 0.15);
    --main-color-shadow: rgba(0, 165, 167, 0.45);

    --grey-color: rgba(165, 165, 165, 1);
    --grey-color-transparant: rgba(165, 165, 165, 0.15);

    --glass-color: rgba(255, 255, 255, 0.1);
    --glass-color-hover: rgba(0, 165, 167, 0.3);

    /* Theme */
    --theme-default: rgb(0, 165, 167);
    --theme-orange: rgb(244, 139, 54);
    --theme-red: rgb(233, 15, 40);
    --theme-pink: rgb(238, 70, 126);
    --theme-purple: rgb(103, 58, 183);
    --theme-blue: rgb(33, 150, 243);
    --theme-cyan: rgb(0, 188, 212);
    --theme-lime: rgb(139, 195, 74);
    --theme-green: rgb(76, 175, 80);
    --theme-yellow: rgb(255, 193, 7);

    /* Style */
    --blur-level: 2em;
    --border-radius: 8px;
    --inner-radius: 4px;
    --border-width: 1px;
}